streamlit
PyPDF2
openai
pandas>=2.0.0
python-dateutil>=2.8.2
six>=1.16.0
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
requests
python-docx
textract
pytesseract
Pillow
